# Install this optional file only when enabling CodeFormer.
torch>=2.0,<3
torchvision>=0.15,<1
addict>=2.4,<3
future>=0.18,<2
lmdb>=1.4,<2
PyYAML>=6,<7
requests>=2.31,<3
scikit-image>=0.21,<1
tqdm>=4.66,<5
yapf>=0.40,<1
